h1{
text-align:center;

}
body{
background-color: #F4F4F4

}

.container {
display: flex;
flex-direction: column;
}
.Childcontainer{
display: flex;
flex-direction:row;


}
#song{
width: 70%;
  background-color: white
}
#chords{

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


#ChordsForm {

margin: 0 auto;
}
#ChordsForm input {



}

#ChordsForm .button{


margin-left: 30%

}

#BestSongBox{
margin-right: 20%;

}

#BestSongBox h5{
text-align: center;

}


.results{

  display: flex;
flex-direction: row;
text-align: center;
}
.res{
  text-align: center;
}
